html, body{
  background-color: #040415;    
}
main {   
    min-height: 100vh;
}

.orbitron-regular {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.orbitron-medium {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.orbitron-semibold {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.orbitron-bold {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.orbitron-extrabold {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.orbitron-black {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.loader-container {
  width: 100px;
  height: 100px;
  position: relative;
}

.loader-border {
  position: absolute;
  width: 10rem; 
  height: 10rem;
  border-radius: 50%;
  border: 5px solid transparent;
  background: conic-gradient(
    #00cea8 12.9%, 
    #bf61ff 77.5%,
    #e9e9e9 2.5%  
  );   
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #16091f)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #16091f));   
  -webkit-mask: linear-gradient(#16091f 0 0) content-box, linear-gradient(#16091f 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #16091f)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #16091f));
  mask: linear-gradient(#16091f 0 0) content-box, linear-gradient(#16091f 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}


.loader-content {  
  position: relative;
  z-index: 10;
}

/* Spin animation for loader*/
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


.green-pink-gradient {
    background: "#00cea8";
    background: -o-linear-gradient(359.87deg, #fdbb589d 1.9%, #AC04E3 97.5%);
    background: linear-gradient(90.13deg, #fdbb589d 1.9%, #AC04E3 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #fdbb589d 1.9%, #AC04E3 97.5%);
  }

  .gradient-to-right {
    background: "#00cea8";
    background: -webkit-gradient(linear, left top, right top, color-stop(1.9%, #fdbb58c7), color-stop(97.5%, #AC04E3));
    background: -o-linear-gradient(left, #fdbb58c7 1.9%, #AC04E3 97.5%);
    background: linear-gradient(to right, #fdbb58c7 1.9%, #AC04E3 97.5%);
    background: -webkit-linear-gradient(to right #fdbb58c7 1.9%, #AC04E3 97.5%);
  }



@-webkit-keyframes fadeIn {
  from { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
  to { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }
}



@keyframes fadeIn {
  from { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
  to { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }
}

.animate-fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn 0.8s forwards;
          animation: fadeIn 0.8s forwards;
}

#num{
  color: transparent;
  -webkit-text-stroke: 1px #9f9fa9;
}

/* global.css (or any CSS file imported in your project) */
#num2 {
  color: transparent;
  -webkit-text-stroke: 1px #9f9fa9;
}

.group:hover #num2 {
  -webkit-text-stroke: 1px #313133; /* hover stroke color */
}

.marquee_track {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquee_list {
  white-space: nowrap;
  -webkit-animation: marquee 30s linear infinite;
          animation: marquee 30s linear infinite; 
  will-change: transform;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.marquee_list img{
display: inline-block;  
}

@-webkit-keyframes marquee {
  0%   { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  100% { -webkit-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); }
}

@keyframes marquee {
  0%   { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  100% { -webkit-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); }
}


#button:hover, #card:hover {
  -webkit-box-shadow: 0 0 20px 5px #ab04e383;
          box-shadow: 0 0 20px 5px #ab04e383;
}


.mousefollower {
  -webkit-box-shadow: inset 0 0 20px #9f9fa9;
          box-shadow: inset 0 0 20px #9f9fa9;
}

.gradient-text {
  background: -webkit-gradient(linear, left top, right top, from(#ff7e5f), color-stop(#fff), to(#251980));
  background: -o-linear-gradient(left, #ff7e5f, #fff, #251980);
  background: linear-gradient(90deg, #ff7e5f, #fff, #251980);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
}


@media (max-width: 320px) {
  #mobLogo{
    height: 2.4rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  } 
  #hero .content h2 {
    font-size: 1.5rem;
  }
  #hero .content p {
    font-size: 0.875rem;
  }
  #gradient-title{
    font-size: 1.5rem;
  }
  .marquee_list img{
    height: 3.5rem;
  }
  #page-header{
    margin-top: 3rem;
  } 
  #page-header h1{
    font-size: 1.875rem;
  }
  .nav-container h4{
    font-size: 1.25rem;
  }
  .nav-container {
    gap: 1.25rem;
  }
  .serviceBtn button {
    font-size: 0.75rem;
  }
}

@media (max-width: 375px){
  #project-dets .tag h2{
    font-size: 0.75rem;
  }
}





